[submodule "pigpio"]
	path = pigpio
	url = https://github.com/joan2937/pigpio
[submodule "librealsense"]
	path = librealsense
	url = https://github.com/IntelRealSense/librealsense.git
[submodule "apriltag"]
	path = apriltag
	url = https://github.com/AprilRobotics/apriltag/
