[submodule "v2/pigpio"]
	path = v2/pigpio
	url = https://github.com/joan2937/pigpio
[submodule "v2/apriltag"]
	path = v2/apriltag
	url = https://github.com/AprilRobotics/apriltag/
[submodule "v2/librealsense"]
	path = v2/librealsense
	url = https://github.com/IntelRealSense/librealsense.git
